@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat.ttf");
}
#app {
    border: 1px solid blue;
    display: flex;
    font-family: Montserrat, Courier, monospace;
}

.cv-inputs {
    border: 1px solid green;
    min-height: 100%;
    flex: 1;
    padding: 20px;

    label {
        font-weight: 500;
        padding-top: 1rem;
    }
    input {
        border: none;
        border-radius: 5px;
        font-size: 12px;
        padding: 0.5rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
}
